
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpObjAcc

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/favicon.ico" type="image/ico" />
    <title>@ViewBag.Title | Biblioteca Pública Municipal-Manuel Vilardaga!</title>

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.min.css" />

    <!-- Font Awesome -->
    <link href="~/css/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/fontawesome/css/font-awesome.css" rel="stylesheet" />

    <!-- NProgress -->
    <link href="~/css/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/css/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />

    <!--Date Range Picker -->
    <link href="~/css/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Animate.css -->
    <link href="~/css/animate/animate.min.css" rel="stylesheet" />

    <!--Sweet alert -->
    <link href="~/css/sweetalert/sweetalert.css" rel="stylesheet" />

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">


    <!-- jQuery custom content scroller -->
    <link href="~/css/malihu-custom-scrollbar-plugin/jquery.mcustomscrollbar.min.css" rel="stylesheet" />



    <!-- Custom Theme Style -->
    @*    <link href="~/css/custom.min.css" rel="stylesheet" />  *@
      <link href="~/css/custom.css" rel="stylesheet" />

    
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col  menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/Home/index" class="site_title"><i class="fa fa-paw"></i> <span>Biblioteca Pública Municipal-Manuel Vilardaga!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu ">
                                <li>
                                    <a><i class="fa fa-home"></i> Mantenimiento <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Calle/index">Calles</a></li>
                                        <li><a href="/Cobrador/index">Cobradores</a></li>
                                        <li><a href="/Localidad/index">Localidades</a></li>
                                        <li><a href="/Pais/index">Países</a></li>
                                        <li><a href="/Prestamo/index">Préstamos</a></li>
                                        <li><a href="/Profesion/index">Profesiónes</a></li>
                                        <li><a href="/Provincia/index">Provincias</a></li>
                                        <li><a href="/TipoDocumento/index">Tipos de Documentos</a></li>
                                        <li><a href="/TipoSuspension/index">Tipos de Suspensiones</a></li>

                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav side-menu ">
                                <li>
                                    <a><i class="fa fa-sitemap"></i> Módulos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="#level1_1">Socios</a>
                                            <ul class="nav child_menu">

                                                <li><a href="/Socio/index">Socios</a></li>
                                                <li><a href="/EstadoSocio/index">Estados de Socios</a></li>
                                                <li><a href="/CategoriaSocio/index">Categorías de Socios</a></li>
                                                <li><a href="/TipoSocio/index">Tipos de Socios</a></li>
                                            </ul>
                                        <li>
                                            <a href="#level1_1">Materiales</a>
                                            <ul class="nav child_menu">
                                                <li><a href="/Anexo/index">Anexos</a></li>
                                                <li><a href="/Autor/index">Autores</a></li>
                                                <li><a href="/Coleccion/index">Colecciones</a></li>
                                                <li><a href="/Director/index">Directores</a></li>
                                                <li><a href="/Encuadernacion/index">Encuadernaciones</a></li>
                                                <li><a href="/Editor/index">Editores</a></li>
                                                <li><a href="/Editorial/index">Editoriales</a></li>
                                                <li><a href="/Genero/index">Géneros</a></li>
                                                <li><a href="/Guionista/index">Guionistas</a></li>
                                                <li><a href="/Idioma/index">Idiomas</a></li>
                                                <li><a href="/Ilustrador/index">Ilustradores</a></li>
                                                <li><a href="/Interprete/index">Intérpretes</a></li>
                                                <li><a href="/Lugar/index">Lugares</a></li>
                                                <li><a href="/Materia/index">Materias</a></li>
                                                <li><a href="/Procedencia/index">Procedencias</a></li>
                                                <li><a href="/Productor/index">Productores</a></li>
                                                <li><a href="/Prologuista/index">Prologuistas</a></li>
                                                <li><a href="/Traductor/index">Traductores</a></li>
                                                <li><a href="/TipoMaterial/index">Tipos de Materiales</a></li>
                                                <li><a href="/TipoSoporte/index">Tipos de Soportes</a></li>
                                            </ul>

                                        <li><a href="#level1_1">Cobradores</a>
                                        <li><a href="#level1_1">Préstamos</a>
                                        <li><a href="#level1_1">Usuarios</a>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/img.jpg" alt="">John Doe
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>

                                    <a asp-action="Logout" asp-controller="Authuser"><i class="fa fa-sign-out pull-right"></i>Cerrar Sesión</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()

             
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>

    </div>

    <!-- jQuery -->
    <script src="~/js/jquery/dist/jquery.min.js"></script>

    <!--NProgress-->
    <script src="~/js/nprogress/nprogress.js"></script>

    <!--gauge.js-->
    <script src="~/js/gauge/gauge.min.js"></script>

    <!-- Sweet Alert-->
    <script src="~/js/sweetalert/sweetalert.min.js"></script>

    <!--Loading Overlay-->
    <script src="~/js/loadingoverlay/loadingoverlay.js"></script>
    <script src="~/js/loadingoverlay/loadingoverlay.min.js"></script>

    <!-- Validar -->
    <script src="~/js/jquery/jquery.validate.js"></script>

    <!--jQuery Smart Wizard-->
    <script src="~/js/jquery-smart-wizard/js/jquery.smartwizard.js"></script>

    <!--jQuery custom content scroller-->
    <script src="~/js/malihu-custom-scrollbar-plugin/jquery.mcustomscrollbar.concat.min.js"></script>

    <!--DataTables-->
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.min.js"></script>
    
    <!--para exportar PDFs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="~/js/datatables.net-buttons/js/buttons.colvis.js"></script>
    <script src="~/js/datatables.net-buttons/js/buttons.colvis.min.js"></script>
    <script src="~/js/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/js/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/js/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/js/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/js/datatables.net-buttons/js/datatables.buttons.js"></script>
    <script src="~/js/datatables.net-buttons/js/datatables.buttons.min.js"></script>

    <!--Bootstrap 5-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="~/js/custom.js"></script>

    <!-- jQuery Smart Wizard -->
    <script src="~/js/jquery-smart-wizard/js/jquery.smartwizard.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("estilos", required: false)
</body>
</html>