@model Calle
@{
    ViewBag.Title = "Calle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header">
        <i class="fas fa-solid fa-palette me-1"></i>Lista de Calles
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-default padding: 0; border: none; background: none; color:#CE5454" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <div class="alert-container">
            <div id="mensaje" class="alert alert-success" role="alert">
                This is a success alert—check it out!
            </div>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white" style="background: #2A3F54">
                <h5 class="modal-title" id="exampleModalLabel">Calle</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <input id="txtid" type="hidden" value="0" />

                <form id="formNivel" class="row">
                    <div class="form-group floating-control-group">
                        <div class="form-floating ">
                            <input type="text" class="form-control"  id="txtdescripcion" placeholder="Descripción" value="@Html.DisplayTextFor(model => Model.Descripcion) ">
                        <label for="txtdescripcion">Descripción</label>
                    </div> 
                    </div>
                 
                </form> 


            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div id="mensajeError" class="alert alert-danger" role="alert">
                    </div>
                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btnCancelar" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btnAceptar btnAceptar-primary-on " onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {


    <script>
            $(function(){

          $('.form-group').floatingLabel();

        });
                $('.form-group').floatingLabel({
             floatingLabelClass: 'floating-label',
             floatingLabelOnClass: 'floating-label-on',
             floatingInputClass: 'floating-input'
           });

           $('.form-group').floatingLabel({
          floatingStyle: 'primary',

        });



            const alertContainer = document.querySelector('.alert-container');
            var tabladata;
            var filaSeleccionada;
            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: true,
                dom: "Bfrtip",
                buttons: [
                    {

                        extend: "excelHtml5",
                        text: '<i class="fa fa-file-excel-o "></i>',
                        filename: "Reporte de Calles",
                        title: "",
                        exportOptions: {
                            //muestra las columnas
                            columns: [0, 1]
                        },
                        className: "btn-exportar-excel",
                        

                    },
                    {
                        extend: "pdfHtml5",
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        filename: "Reporte de Calles",
                        title: "Listado de Calle",
                        exportOptions: {
                            //muestra las columnas
                            columns: [0, 1]
                        },
                        className: "btn-exportar-pdf"
                    },
                    {
                        extend: "print",
                        text: '<i class="fa fa-print"></i>',
                        filename: "Reporte de Calles",
                        title: "Listado de Calle",
                        exportOptions: {
                            //muestra las columnas
                            columns: [0, 1]
                        },
                        className: "btn-imprimir"

                    }
                ],
                 "ajax": {
                     url: "@Url.Action("GetAllCalle", "Calle")",
                     type: "GET",
                     dataType: "json",
                     beforeSend: mostrarAlert("Obteniendo datos")
                 },
                 "columns": [
                         { "data": "id" },
                         { "data": "descripcion" },
                         {
                                      "defaultContent": '<button type="button" title="Editar Calle"   class="rounded-circle btn btn-default padding: 0; border: none; background: none;  btn-editar"   ><i class="fa fa-pencil"   style="Color: #E74C3C;" ></i></button>' +
                                                        '<button type="button" title="Eliminar Calle" class="rounded-circle btn btn-default padding: 0; border: none; background: none;  btn-eliminar" ><i class="fa fa-trash-o"  style="Color: #E74C3C;" ></i></button>',
                                      //"defaultContent": '<a asp-controller="Calle" asp-action="Details" asp-route-id='+data.id+' class="btn btn-primary">"Details"</a>',

                            "orderable": false,
                            "searchable": false,
                            "width": "10%",
                            "heigth":"10%"
                        }
                 ],
                 "language": {
                      "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                  },
                "columnDefs": [
                        { "width": "10%", "targets": 0 },
                        { "width": "80%", "targets": 1 },
                        { "width": "10%", "targets": 2 },
                ]
            })


            $("#formNivel").validate({
            rules: {

                descripcion: {
                    required: true
                },
            },
            messages: {

                descripcion: " El campo Descripción es obligatorio",
            },
            errorElement: "div",
            errorLabelContainer: ".alert-danger"
        });


            //Abrir Modal

            function abrirModal(json) {
               
                $("#txtid").val(0);
                $("#txtdescripcion").val("");
                $("#txtdescripcion").blur();
                
                
                $("#mensajeError").hide();
                if (json != null) {
                
                    $("#txtid").val(json.id);
                    $("#txtdescripcion").focus()
                    $("#txtdescripcion").val(json.descripcion).focus();
               
                }
                $("#FormModal").modal("show");
            }

            //Editar
            $("#tabla tbody").on("click", '.btn-editar', function () {

                filaSeleccionada = $(this).closest("tr");
                var data = tabladata.row(filaSeleccionada).data();
                abrirModal(data)
            })

            //Eliminar
            $("#tabla tbody").on("click", '.btn-eliminar', function () {

                var Calleseleccionado = $(this).closest("tr");
                var data = tabladata.row(Calleseleccionado).data();
               var calle={
               Id:data.id,
               Descripcion:data.descripcion
               }

                swal({
                    title: "Está Seguro?",
                    text: "Desea eliminar la Calle?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-primary",
                    confirmButtonText: "Si",
                    cancelButtonText: "No",
                    closeOnConfirm: true
                },
                   function () {

                        jQuery.ajax({
                            url: '@Url.Action("DeleteCalle", "Calle")',
                            type: "POST",
                            data: JSON.stringify( calle),
                            contentType: 'application/json',
                            success: function (data) {
                                if (data.resultado) {
                                    tabladata.row(Calleseleccionado).remove().draw();
                                    mostrarAlert(data.mensaje)
                                } else {
                                   // swal("No se pudo eliminar", data.mensaje, "error");
                                   mostrarAlert(data.mensaje)
                                }
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        })
               })
            });


            //Guardar
            function Guardar() {

            if (!$("#formNivel").valid()) {
                return;
            }


            var Calle = {
                    id: $("#txtid").val(),
                    descripcion: $("#txtdescripcion").val(),

                }

                jQuery.ajax({
                    url: '@Url.Action("CreateCalle", "Calle")',
                    type: "POST",
                    data: JSON.stringify(Calle),
                    // dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        $(".modal-body").LoadingOverlay("hide");
                        //  Calle nuevo
                        if (Calle.id == 0) {

                            if (data.resultado != 0) {
                                Calle.id = data.resultado;
                                tabladata.row.add(Calle).draw(false);
                                $("#FormModal").modal("hide");
                                mostrarAlert(data.mensaje)



                            }
                            else {
                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }
                        }
                        //  Calle Editar
                        else {

                            if (data.resultado) {
                                tabladata.row(filaSeleccionada).data(Calle).draw(false);
                                filaSeleccionada = null;
                                $("#FormModal").modal("hide");
                                mostrarAlert(data.mensaje);
                            } else {
                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }
                        }
                        },
                        error: function (error) {
                            $(".modal-body").LoadingOverlay("hide");
                            $("#mensajeError").text("Error Ajax");
                            $("#mensajeError").show();
                        },
                        beforeSend: function () {
                            $(".modal-body").LoadingOverlay("show", {
                                imageResizeFactor: 2,
                                text: "Cargando...",
                                size: 14
                            })

                        }
                    }
                )
            }

           function mostrarAlert(mensaje) {
           
               $("#mensaje").text(mensaje);
                alertContainer.classList.add('show');
                setTimeout(() => {
                alertContainer.classList.remove('show');
                }, 3000); // La alerta se oculta después de 3 segundos
                }

    </script>
}
